@inject IHttpContextAccessor HttpContextAccessor

<PageTitle>@message</PageTitle>
<p>@message</p>

@code {
    [Parameter]
    public string? Item { get; init; }
    private string message => $"404 Not Found{(string.IsNullOrWhiteSpace(Item) ? "" : $": {Item}")}";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        HttpContextAccessor.HttpContext!.Response.StatusCode = 404;
    }

}