<PageTitle>@message</PageTitle>
<p>@message</p>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [Parameter]
    public string? Item { get; init; }
    private string message => $"404 Not Found{(string.IsNullOrWhiteSpace(Item) ? "" : $": {Item}")}";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        HttpContext.Response.StatusCode = 404;
    }

}